.sign-up
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';

    .back-to-home-button
    {
        position: absolute;
        bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        color: black;
        border-radius: 50px;
        padding: 10px 25px;
        border: 2px solid black;
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
    }

    form
    {
        position: relative;
        width: 375px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        h1
        {
            color: black;
            text-transform: capitalize;
            font-weight: 700;
            font-size: 40px; 
            margin: 0;  
            user-select: none;
        }

        h2
        {
            @extend h1;
            font-size: 20px !important;
            color: var(--theme-color-2) !important;
            font-weight: 500 !important;
        }

        label
        {
            position: relative;
            display: flex;
            flex-direction: column;
            
            span
            {
                
                text-transform: capitalize;
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 5px;
                user-select: none;
            }

            input 
            {
                width: 325px;
                height: 45px;
                border-radius: 10px;
                border: 2px solid var(--theme-color-3);
                padding: 0 25px;
                font-size: 18px;
                outline: none;

                &:focus 
                {
                    border: 2px solid var(--theme-color-1);
                }
            }
        }
        

        .sign-in-button 
        {
            margin-top: 20px;
            width: 100%;
            height: 50px;
            border-radius: 10px;
            background-color: var(--theme-color-1);
            color: white;
            font-size: 18px;
            font-weight: 500;
            border: none;
            cursor: pointer;
            text-transform: capitalize;
        }

        a 
        {
            color: var(--theme-color-1);
            text-transform: capitalize;
        }
        
    }
}