.navigation-button
{
    user-select: none;
    -webkit-user-drag: none;

    position: relative;
    width: calc(100% - 80px);
    height: fit-content;
    font-size: 20px;
    display: flex;
    display: row;
    gap: 25px;
    align-items: center;
    font-family: 'Montserrat';
    text-decoration: none;
    color: var(--theme-color-2);
    font-weight: 400;
    text-transform: capitalize;
    height: 40px;
    padding: 0 15px;
    border-radius: 5px;

    svg
    {
        font-size: 25px;
        left: 0;
    }
}