.create-training-plan-button
{
    position: relative;
    width: 125px;
    height: 125px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
    cursor: pointer;

    span
    {
        width: 80px;
        height: 80px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid var(--theme-color-3);
        color: var(--theme-color-3);
        font-size: 45px;
        transition: 0.3s;
    }

    &:hover
    {
        span
        {
            border-color: #1780EA90;
            color: #1780EA90;
        }
    }
}